* {margin:0; padding:0; list-style:none;font-family:'Microsoft Yahei'}

.tab{width: 350px; padding-top: 10px; border: 1px solid #527CC9; background-color: #527CC9; margin: 50px auto; height: 180px; }
.tab .bd{background-color: #fff; height: 150px;}
.tab .hd a{display: block;  height: 25px; line-height: 25px; color:#000; text-align: center; text-decoration: none;}
.tab .hd li{float: left; width: 70px; background-color: #A2C8F4;}
.tab .hd{height: 25px; }
.tab .hd .on{background-color: #fff;}
.tab .bd p{padding:20px 5px; text-indent: 2em;}

/* 控制显示/隐藏方式1 display: block/none */
 .tab .tab-panel{display: none }
.tab .dis{display: block } 

/* 控制显示/隐藏方式2 绝对定位  */
/* .tab{position: relative; overflow: hidden }
.tab .tab-panel{left:999px; position: absolute }
.tab .dis{position:static}  */